
.md-typeset {
   font-size: 14pt !important;
}

.md-grid {
    max-width: 1500px; 
}   

/* Content tabs */
.md-typeset .tabbed-labels label {
    font-size: 13pt !important; /* Change la taille du texte des labels */
}

.md-typeset .tabbed-set .tabbed-content {
    font-size: 12pt !important;
}


/* admonition */
.md-typeset .admonition-title {
    font-size: 13pt !important; /* Change la taille du titre */
    font-weight: bold; /* Mettre en gras si besoin */
}

.md-typeset .admonition {
    font-size: 12pt !important; /* Ajuste la taille du texte */
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 800px;
}

/* Change font size inside code blocks */
.md-typeset pre code {
    font-size: 11pt !important;  /* Adjust as needed */
}

/* Change font size for inline code */
.md-typeset code {
    font-size: 11pt !important;
}
